$containerMaxWidth: 1280px;
$displayFlex:flex;
$color292929: #292929;
$color545454: #545454;
$colorF1cdb3: #f1cdb3;
$colorWhite: #fff;
$colorCdcdcd: #cdcdcd;
$colorFafafa: #fafafa;
$colorFddcc4: #fddcc4;
$colorBlack: #000;