@import '../abstract/variables';
@import '../abstract/mixins';

.not-only {
    background: url('../../../assets/images/noise_transparent.png'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #211F20;

    &__container {
        display: $displayFlex;
        justify-content: space-between;
        // padding-top: 14%;
        padding-top: 179px;

        @media (min-width: 320px) and (max-width: 1279px) {
            flex-direction: column;
            padding-bottom: 0;
            padding-top: 19.8%;
            align-items: center;

            @media (min-width: 320px) and (max-width: 767px) {
                padding-top: 151px;
                text-align: center;
            }

            // @media (min-width: 320px) and (max-width: 575px) {
            //     text-align: center;
            //     padding-top: 151px;
            // }
        }
        @media (max-width: 319px){
            flex-direction: column;
            text-align: center;
            padding-top: 45.8%;
        }
    }

    &__info {
        padding-top: 13.85%;
        padding-bottom: 20.2%;
        margin-right: 20px;

        @media (min-width: 320px) and (max-width: 1279px) {
            display: $displayFlex;
            flex-direction: column;
            padding: 0;
            margin-right: 0;
            margin-bottom: 100px;

            @media (min-width: 320px)and (max-width: 767px) {
                margin-bottom: 105px;
                align-items: center;
            }
        }
        @media (max-width: 319px){
            display: $displayFlex;
            flex-direction: column;
        }
    }

    &__title {
        @include descrGeneral(400, 44px, normal, $colorWhite);
        line-height: calc(57.2 / 44);
        margin-bottom: 40px;
        max-width: 310px;

        @media (min-width: 320px) and (max-width: 575px) {
            width: 100%;
            @include descrGeneral(400, 25px, 1.5px, $colorWhite);
            line-height: calc(32.5 / 25);
        }
        @media (max-width: 319px){
            width: 100%;
            @include descrGeneral(400, 20px, 1.5px, $colorWhite);
            line-height: calc(22.5 / 20); 
        }
    }

    &__description {
        @include description;
        color: $colorCdcdcd;
        margin-bottom: 42px;
        max-width: 460px;
        @media (min-width: 320px) and (max-width: 575px){
            max-width: 360px;
        }
    }

    &__button {
        background-color: $colorF1cdb3;
        @include transitionBackBorder;
        padding: 14px 43px 12px;
        max-width: 209px;
        @media (min-width: 576px) and (max-width: 1279px) {
            align-self: center;
        }
    }

    &__button:hover {
        @include hoverButton;
    }

    &__image {
        @include image("../../../assets/images/start-screen-puppy-1280.png");
        width: 58%;
        background-position: center bottom;

        @media (min-width: 320px) and (max-width: 1279px) {
            width: 100%;
            align-self: flex-end;
            max-width: 569px;
            height: 592px;

            @media (min-width: 576px) and (max-width: 767px) {
                height: 373px;
                max-width: 361px;
            }

            @media (min-width: 320px) and (max-width: 575px) {
                max-width: 261px;
                height: 272px;
            }
        }
        @media (max-width: 319px){
            max-width: 150px;
            width: 100%;
            align-self: flex-end;
            height: 153px;
        }
    }
}